.homecatSlider {
  overflow: visible !important;
  position: relative !important;
}

.homecatSlider .swiper-button-prev ,.homecatSlider .swiper-button-next{
    width: 30px; height: 30px; min-width: 30px;
}
.homecatSlider .swiper-button-prev:after , .homecatSlider .swiper-button-next:after{
    font-size: 16px !important; 
}

.homecatSlider .swiper-button-prev{left: 0px !important;}
.homecatSlider .swiper-button-next{right: 0px !important;}
.homecatSlider .item{border: 1px solid rgba(0,0,0,0.2) !important;}
.homecatSlider .swiper-button-prev:hover{
    background-color: #ff5252 !important;
}
.homecatSlider .swiper-button-next:hover{
    background-color: #ff5252 !important;
}
.mySwiper .swiper-wrapper {
  justify-content: flex-start !important;
}

.homecatSlider .item:hover img{
    transform: scale(1.3);
}
