@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  overflow-y: auto;
  overflow-x: visible;
  touch-action: pan-x;
}

*body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
    box-sizing: border-box;
}
/* custom css */
body{
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}
.container {
  width: 95% !important;
  margin: auto;
}
 .container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}




.MuiBadge-badge{background-color:#ff5252 !important ;}

nav button{
    text-transform:capitalize !important;
}
nav button:hover{
    text-transform:capitalize !important;
}
.btn-org{background-color: #ff5252 !important; color: #fff !important; font-weight: 500; font-size: 16px;}
footer form input ::placeholder{font-size:14px ;}
/* this is for catslider like css */
.swiper-button-prev , .swiper-button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
    opacity: 0.5;
    box-shadow: o 1px 3px #0000001f, 0 1px 2px #0000003d !important
}
.swiper-button-prev::after , .swiper-button-next::after{
    font-size: 22px !important;
    color: #000;

}

/* for scrollbar */
::-webkit-scrollbar{
  width: 10px !important; 
  height: 8px !important;
}
::-webkit-scrollbar-thumb{background-color: #ccc;}
::-webkit-scrollbar-track{background-color: #ff5252;}


/* for the category panel like fashion , electronics etc scrolling with arrow in Popular product*/
.MuiTabs-indicator{
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected{color: #ff5252 !important;}

/* this is for the image of the product */
.productsSlider .swiper-wrapper{padding: 15px; margin-left: -15px; margin-right: -15px;}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #ff5252 !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}
